@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Montserrat', sans-serif;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    --header_bg: #000;
    --btn_bg: #0A9418BF;
    --btn_hr: #06600F;
    --p_bg: #C8C8C8;
    --main_bg: #393636;
    --h_bg: #fff;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.rek {
    background: var(--header_bg);

}

.rek_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;


    .rek1 {
        display: flex;
        align-items: end;
        color: var(--h_bg);

    }

    .rek2 {
        display: flex;
        gap: 20px;

        p {
            color: var(--h_bg);
        }

    }
}


nav {
background: var(--header_bg);
}

.nav_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_row1 {
        .btn {

            font-weight: 700;
            font-size: 36px;
            color: var(--h_bg);
            width: 216px;
            height: 53px;
            border: 4px solid var(--btn_hr);
            border-radius: 4px;
            background: var(--btn_bg);
        }
    }

    .nav_row2 {
        display: flex;
        align-items: center;
        gap: 28px;
        color: var(--h_bg);
        button {
            border: none;
            color: var(--h_bg);
            width: 93px;
            height: 65px;
            background: var(--btn_bg);
        }
    }
}
header{
    position: relative;
}

.header_bunner {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.header_content {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;


    h1{
        font-weight: 900;
        font-size: 72px;
        color: #69CF17;
        margin-top: 167px;

    }
    h6{
        font-size: 36px;
        font-weight: 400;
        color: var(--btn_bg);
        margin-bottom: 18px;
    }
    p{
        color: var(--p_bg);
        max-width: 1110px;
        width: 100%;
        margin-bottom: 30px;
    }

}

.header_btn{
    display: flex;
    justify-content: space-between;
    .btn1{
        font-size: 50px;
        font-weight: 200;
        background: #427d11d8;
        color: var(--p_bg);
        width: 285px;
        height: 103px;
        border: none;
    

                }
                .btn2{
        color: var(--h_bg);
        background: linear-gradient(800deg,#69CF17,#417D11);
        width: 255px;
        height: 51px;
        border: none;
        border-radius: 6px;
        font-size: 18px;
        font-weight: 400;
                }
}



header{
    position: relative;
    padding-bottom: 179px;
}





.cards{

}
.card_text2{
    background: #191919;
    .card_text{
    
        display: flex;
        gap: 36px;
        color: var(--h_bg);
        padding-bottom: 20px;
        padding-top: 20px;

    } 
}

    .rec{
        background: var(--header_bg);
        height: 48px;
    }
    .p {
        color: white;
        opacity: 0.4;
        transition: 0.4s;  
        position: relative;

        &:hover {
            color: var(--h_bg);
            opacity: 1;
        }
    }
    .p::after {
        width: 0;
        height: 2px;
        background: var(--h_bg);
        border-radius: 2px;
        position: absolute;
        bottom: -18px;
        left: 0;
        content: '';
        transition: 0.3s;
    }
    
    .p:hover::after {
        width: 100%;
    }
.container2{
    max-width: 1570px;
    width: 100%;
    margin: 0 auto;
}



.box{
    background: var(--header_bg);
    width: 370px;
    height: 524px;
    border-radius: 4px;
    border: 1px solid #fff;
padding: 15px;
margin-bottom: 15px;
h6{
    color: var(--h_bg);
    font-size: 19px;
    font-weight: 700; 
}
p{
font-size: 19px;
font-weight: 400;
color: var(--p_bg);
margin-top: 15px;
}
}
.card_text3{
    background: var(--main_bg);
}
.card_img{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}


.map_wrap{
    display: ;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2{
        font-size: 50px;
        font-weight: 700;
        color: #69CF17;
        background: #fff;
        padding: 20px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
